body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("C:\Users\10731926\Downloads\OIP.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  /* width: 420px; */
  /* height: 200px; */
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: black;
  border-radius: 10px;
  padding: 30px 40px;
  text-align: center;
}

.wrapper h1 {
  color: #333;
  margin-bottom: 20px;
}
